.montserrat-semibold {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 600;

    font-style: normal;

}



.montserrat-bold {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 700;

    font-style: normal;

}



.montserrat-medium {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 500;

    font-style: normal;

}
* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

.container-header {

    display: flex;

    width: 90%;

    max-width: 1100px;

    margin: auto;

}

.header {
    padding: 10px 0;

    background-size: cover;

    background-position: center;

    margin-bottom: 50px;

    background: #EFF0F2;
}

.logo {
    margin-left: 70px;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    gap: 20px;
    display: flex;
    align-items: center;

}
.nav .header-text {
    font-size: 16px;
    font-weight: 600;
}


.nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #333;
}



.user-menu {
    position: relative; /* Для корректного позиционирования dropdown-content */
    display: inline-block; /* Или flex, если нужно */
}

.user-icon {
    /* Стили для кнопки (иконки пользователя) */
    cursor: pointer;
    border: none;
    background: none;
    width: 40px; /* Примерный размер, можно изменить */
    height: 40px;
    border-radius: 50%; /* Делаем иконку круглой */
}

.user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-icon-logged {
    cursor: pointer;
    border: none;
    background: none;
    width: 40px; /* Примерный размер, можно изменить */
    height: 40px;
    border-radius: 50%;

}
.user-icon-logged
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.dropdown-content {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Выравниваем по правому краю иконки */
    border-radius: 8px; /* Закругляем углы */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.dropdown-content a:hover {
    background-color: #ddd;
}







.content {
    width: 80%;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
}

input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
}

button[type="submit"] {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #5649d9;
}


.custom-file-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#customFileButton {
    padding: 10px 15px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#customFileButton:hover {
    background-color: #5649d9;
}

#fileName {
    font-size: 0.95em;
    color: #666;
}



.footer {

    background: #9A9A9A;

    color: black;

    padding: 20px 0;

    text-align: center;

    font-family: "Montserrat", sans-serif;

    font-weight: 500;

}

.container-footer {
    display: flex;
    margin: 80px 150px 150px 120px;
}
.footer-center {
    padding-left: 100px;
    padding-right: 150px;
}



.footer-left {
    width: 300px;
    margin-right: 40px;

}

.footer a {
    text-decoration: none;
    color: white;
}
.footer-center ul
{
    list-style: none;
}

.footer-right p {
    color: white;

}

.social-media {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 20px;

}
