.montserrat-semibold {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 600;

    font-style: normal;

}



.montserrat-bold {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 700;

    font-style: normal;

}



.montserrat-medium {

    font-family: "Montserrat", sans-serif;

    font-optical-sizing: auto;

    font-weight: 500;

    font-style: normal;

}



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body {

    font-family: "Montserrat", sans-serif;

    line-height: 1.6;

}



.container-header {

    display: flex;

    width: 90%;

    max-width: 1100px;

    margin: auto;


}



.header {

    padding: 10px 0;

    background: white;

    background-size: cover;

    background-position: center;

    margin-bottom: 30px;
}



.header .logo {

    font-size: 1.5rem;

    font-weight: 700;

    margin-right: 100px;

}



.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {

    margin: 0 50px;

    text-decoration: none;

    color: #333;

    font-weight: 500; /* Montserrat Medium */

}



.nav .btn-host {

    padding: 17px 35px;

    background: #484848;

    color: #fff;

    border: none;

    border-radius: 23px;

    cursor: pointer;

    font-weight: 600; /* Montserrat Semibold */

}




.user-menu {

    position: relative; /* Для корректного позиционирования dropdown-content */
    display: inline-block; /* Или flex, если нужно */
}

.user-icon {
    margin-left: 300px;
    /* Стили для кнопки (иконки пользователя) */
    cursor: pointer;
    border: none;
    background: none;
    width: 40px; /* Примерный размер, можно изменить */
    height: 40px;
    border-radius: 50%; /* Делаем иконку круглой */
}

.user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-icon-logged {
    cursor: pointer;
    border: none;
    background: none;
    width: 40px; /* Примерный размер, можно изменить */
    height: 40px;
    border-radius: 50%;

}
.user-icon-logged
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.dropdown-content {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Выравниваем по правому краю иконки */
    border-radius: 8px; /* Закругляем углы */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.dropdown-content a:hover {
    background-color: #ddd;
}




.banner {
    text-align: center;
    padding: 50px 20px;
}

.just-FIND
{
    font-size: 40px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.filter-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}

.filter-button.active {
    border-bottom: 2px solid #000; /* Підкреслення активної кнопки */
}

.search-form {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 80%;
    margin-left: 10%;
}

.search-field {
    display: flex; /* Для вертикального розміщення label та input */
    flex-direction: column;
    flex: 1; /* Рівномірний розподіл простору між полями */
    padding: 0 10px; /* Відступи з боків */
    text-align: center;
    border-right: 1px solid #DDDDDD; /* Додаємо вертикальний роздільник */
}

.search-field.last{
    border-right: none; /* Забираємо роздільник у останнього елемента */
}

.search-field label {
    font-size: 12px;
}

.search-form input[type="text"],
.search-form input[type="date"],
.search-form input[type="number"] {
    padding: 5px;
    border: none;
    width: 100%;
    text-align: center;
    outline: none;
    color: #DDDDDD;
}

.search-button {
    border-radius: 50%;
    border: none;
    background-color: rgb(77, 77, 77);
    margin-left: auto;
    cursor: pointer;
}
#results-container {
    margin-top: 20px;
    text-align: left;
}
.nav .header-text {
    font-size: 16px;
    font-weight: 600;
}


.main section {

    padding: 30px 20px;

    font-family: "Montserrat", sans-serif;

}
.property-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    width: 339px;
    height: 103px;
    color: #484848;
    margin-bottom: 80px;
}
.latest-listing {
    margin-bottom: 80px;
    margin-left: 80px;
}

.top-rated {
    margin-bottom: 40px;
    margin-left: 80px;
}

.rental-guides {
    margin-bottom: 80px;
    margin-left: 80px;
}
.Discover-about {
    margin-bottom: 80px;
    margin-left: 80px;
}

    .property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

}

.property-card {
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 270px;
}


.rental-image {
    cursor: pointer;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.rental-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.rental-type-title {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.property-card.rental-card {
    text-decoration: none;
}

.rental-type-title {
    text-decoration: none !important;
    border-bottom: none;
}

.property-card:hover {
    transform: scale(1.02); /* Легкий эффект при наведении */
}

.property-image {
    object-fit: cover;
    border-radius: 8px;
}

.property-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.property-info {
    height: 174px;
    width: 574px;
}
.property-info p {
    padding-left: 26px;
}

.rating {
    display: inline flex;
    flex-direction: row-reverse;
}

.rating_item {
    font-size: 25px;
    color: grey;
    cursor: pointer;
    transition: .2s;
}

.rating_item:hover,
.rating_item:hover ~ .rating_item{
    color: black;
}

.rating[data-total-value="1"] .rating_item:nth-child(n+5),
.rating[data-total-value="2"] .rating_item:nth-child(n+4),
.rating[data-total-value="3"] .rating_item:nth-child(n+3),
.rating[data-total-value="4"] .rating_item:nth-child(n+2),
.rating[data-total-value="5"] .rating_item:nth-child(n+1){
    color: orange;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.like-wished {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 10;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    background: url("../pages/images/img.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    width: 70px;
    height: 70px;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% { background-position: left; }
    100% { background-position: right; }
}
.property-link-title {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет текста от родительского элемента */
    display: block; /* Делает ссылку блочным элементом, чтобы охватить всю область */
}

/* Дополнительные стили для наведения (опционально) */
.property-link-title:hover {
    /* Например, можно добавить другое выделение */
    text-decoration: underline;
    color: #007bff; /* Пример цвета при наведении */
}

.property-title {
    font-weight: 600;
    font-size: 16px;
}
.property-address {
    color: #777;
    font-size: 14px;
}

.property-price {
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.property-details span {
    margin-right: 10px;
}

.rating {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.rating img {


    width: 20px; /* Размер звезды */

    height: 20px;


}

.cta-banner {
    margin: 50px;
}

.hosting-banner {
    padding-left: 50px;
    width: 90%;
    height: 395px;

    background-size: cover;
    background-position: center center;
}
.host-banner-title
{
    margin-bottom: 20px;

    padding-top: 75px;

    font-size: 38px;

}

.yellow-button {
    width: 300px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #fdcb6e;
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}
.banner-text-button {
    position: absolute;
    text-decoration: none;
    color: #000;
    z-index: 1000;
}
.yellow-button::after {
    content: "";
    top: 0;
    left: 0;
    width: 300px;
    height: 70px;
    background: linear-gradient(to right, #ff7675, #e84393);
    opacity: 0;
    transition: 0.3s;
}
.yellow-button:hover {
    box-shadow: -5px -5px 0 0;
    transform: scale(0.9);
}



.hosting-undertitle-text{
    font-size: 16px;
    color: grey;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: 600;

}
.discover-text-button {

}

.Learn-more-text {
    margin-top: 150px;
    margin-bottom: 50px;
}


.footer {

    background: #9A9A9A;

    color: black;

    padding: 20px 0;

    text-align: center;

    font-family: "Montserrat", sans-serif;

    font-weight: 500; /* Montserrat Medium */

}

.container-footer {
    display: flex;
    margin: 80px 150px 150px 120px;
}
.footer-center {
    padding-left: 100px;
    padding-right: 150px;
}

.footer-left {
    width: 300px;
    margin-right: 40px;

}

.footer a {
    text-decoration: none;
    color: white;
}
.footer-center ul
{
    list-style: none;
}

.footer-right p {
    color: white;

}

.social-media {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}